
{{template "base" .}}
{{define "title"}} Add {{end}} 
{{define "main"}}
<div class="col-12">
    <div class="row">
          <h3> Добавть задание</h3>
    </div>                            
    <div class="row">
                <form hx-post="/add-task" hx-target="#task-list" hx-swap="beforeend">
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="task-id" class="form-label">ID:</label>
                            <input  type="text" id="task-id" name="id" class="form-control" disabled >
                            <div id="task-title" class="form-text">id.</div>
                        </div>  
                    </div>
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="task-title" class="form-label">Title:</label>
                            <input type="text" id="task-title" name="title" class="form-control">
                            <div id="task-title" class="form-text">set title task.</div>
                        </div>  
                    </div>
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="task-author" class="form-label">Author:</label>
                            <input type="text" id="task-author" name="author" class="form-control">
                            <div id="task-author" class="form-text">Set task author.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="task-assigned" class="form-label">Assigned:</label>
                            <input type="text" id="task-assigned" name="assigned" class="form-control">
                            <div id="task-assigned" class="form-text">Set task assigned.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="task-content">Content</label>
                        <textarea class="form-control" id="task-content" name="content" rows="3"></textarea>
                        <div id="task-content" class="form-text">Set task assigned.</div>
                    </div>
                    </div>                              

                    <button type="submit" class="btn btn-primary">Submit</button>
                    </form>          
            </div>                     
</div>           
{{end}}