<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        
        <script src="https://unpkg.com/htmx.org@1.9.4"></script>
        <script src="/static/js/main.js"></script>

    </head>
    <body>
        <main>
            <div class="container">
                <div class="row">                
                    <div class="col-12 text-center">
                        <h2>
                            Задачи пользователей
                        </h2>
                    </div>
                </div>
                <div class="row">                    
                    <div class="col-8">                    
                        <table class="table table-dark table-hover">
                            <thead>
                                <tr>                                
                                    <th scope="col">ID</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Assigned</th>
                                    <th scope="col">Content</th>
                                    <th scope="col">DEL</th>
                                </tr>
                            </thead>                            
                            <tbody id="task-list" hx-target="closest tr" hx-swap="delete">
                                {{range $t := .Tasks}}
                                <tr>                                                              
                                    <td>{{$t.ID}}</td>
                                    <td>{{$t.Title}}</td>      
                                    <td>{{$t.AuthorName}}</td>      
                                    <td>{{$t.AssignedName}}</td>      
                                    <td>{{$t.Content}}</td>                                                                 
                                    <td>
                                        <button class="btn btn-danger" hx-delete="/del-task/{{$t.ID}}">
                                            X
                                        </button>
                                    </td> 
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4">
                        <div class="row">
                              <h3> Добавть задание</h3>
                        </div>                            
                        <div class="row">
                        <form hx-post="/save-task" hx-target="#task-list" hx-swap="beforeend">
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="task-id" class="form-label">ID:</label>
                                    <input  type="text" id="task-id" name="id" class="form-control" disabled >
                                    <div id="task-title" class="form-text">id.</div>
                                </div>  
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="task-title" class="form-label">Title:</label>
                                    <input type="text" id="task-title" name="title" class="form-control">
                                    <div id="task-title" class="form-text">set title task.</div>
                                </div>  
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="task-author" class="form-label">Author:</label>
                                    <input type="text" id="task-author" name="author" class="form-control">
                                    <div id="task-author" class="form-text">Set task author.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="task-assigned" class="form-label">Assigned:</label>
                                    <input type="text" id="task-assigned" name="assigned" class="form-control">
                                    <div id="task-assigned" class="form-text">Set task assigned.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="task-content">Content</label>
                                <textarea class="form-control" id="task-content" name="content" rows="3"></textarea>
                                <div id="task-content" class="form-text">Set task assigned.</div>
                              </div>
                            </div>                              

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>          
                            </div>                     
                        
                    </div>                
                </div>
            </div>
        </main>
        <footer>
            
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
    </body>

</html>





